<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Session</key>
	<string></string>
	<key>Settings</key>
	<string></string>
	<key>Current token</key>
	<string></string>
	<key>Quit</key>
	<string></string>
	<key>end period</key>
	<string></string>
	<key>start period</key>
	<string></string>
	<key>Minus debt from total portfolio</key>
	<string></string>
	<key>Adjusted total portfolio</key>
	<string></string>
	<key>Adjusted average price</key>
	<string></string>
	<key>Coupon tax</key>
	<string></string>
	<key>Dividend tax</key>
	<string></string>
	<key>Dividend</key>
	<string></string>
	<key>Total tax</key>
	<string></string>
	<key>Total dividends</key>
	<string></string>
	<key>Investment</key>
	<string></string>
	<key>Analytics</key>
	<string></string>
	<key>Results on investment</key>
	<string></string>
	<key>Deposit operations</key>
	<string></string>
	<key>Commission</key>
	<string></string>
	<key>Total commission</key>
	<string></string>
	<key>Total spent</key>
	<string></string>
	<key>Average price purchase</key>
	<string></string>
	<key>Withdrawal</key>
	<string></string>
	<key>Refill</key>
	<string></string>
	<key>Operations</key>
	<string></string>
	<key>Currency</key>
	<string></string>
	<key>Analytic portfolio</key>
	<string></string>
	<key>All information about you deals(buy and sell) on selected period. All values did present after convert to selected currency</key>
	<string></string>
	<key>Total in investment</key>
	<string></string>
	<key>Total purchased</key>
	<string></string>
	<key>Total sold</key>
	<string></string>
	<key>Total for all time</key>
	<string></string>
	<key>Total with dividends</key>
	<string></string>
	<key>pcs</key>
	<string></string>
	<key>value</key>
	<string></string>
	<key>Debt</key>
	<string></string>
	<key>All operations</key>
	<string></string>
	<key>Result of operations with dividends</key>
	<string></string>
	<key>Dividends</key>
	<string></string>
	<key>Result of operations</key>
	<string></string>
	<key>Now in portfolio</key>
	<string></string>
	<key>Total of sold</key>
	<string></string>
	<key>Total purchases</key>
	<string></string>
	<key>Average</key>
	<string></string>
	<key>Profit</key>
	<string></string>
	<key>Position</key>
	<string></string>
	<key>Price</key>
	<string></string>
	<key>Name</key>
	<string></string>
	<key>Etfs</key>
	<string></string>
	<key>Stocks</key>
	<string></string>
	<key>Bonds</key>
	<string></string>
	<key>Currencies</key>
	<string></string>
	<key>Payable</key>
	<string></string>
	<key>Targets</key>
	<string></string>
	<key>Portfolio</key>
	<string></string>
	<key>Loading...</key>
	<string></string>
	<key>Autorization</key>
	<string></string>
	<key>Check</key>
	<string></string>
	<key>api token</key>
	<string></string>
	<key>Enter token</key>
	<string></string>
	<key>Token is invalid</key>
	<string></string>
	<key>weight</key>
	<string></string>
	<key>sort on</key>
	<string></string>
	<key>Rates</key>
	<string></string>
	<key>Total</key>
	<string></string>
	<key>You portfolio in</key>
	<string></string>
</dict>
</plist>
